.button,.ul-button{
	display:inline-block;
	height:50px;
	line-height:50px;
	font-family:$brandongrotesque-bold;
	letter-spacing:4px;
	@include font-size(16);
	color: $dark-grey;
	text-align:center;
	position:relative;
	@media screen and (max-width: $break-xlarge){
		height:40px;
		line-height: 38px;
		@include font-size(14);
		letter-spacing:2px;
	}
	@media screen and (max-width: $break-small){
		height:30px;
		line-height: 28px;
		@include font-size(12);
		letter-spacing:2px;
	}
}
.button{
	border:1px solid $dark-grey;
	padding:0 20px;
	text-transform:uppercase;
	@include transition(color 0.3s ease, border-color 0.3s ease);
	&:hover,&:active{
		color: lighten($dark-grey,30);
		border-color: lighten($dark-grey,30);
	}
	@media screen and (max-width: $break-xlarge){
		padding:0 10px;
	}

}
@include keyframes(drawline) {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.ul-button{
	&:after{
		content:"";
		display: block;
		width: 100%;
		@include abs-pos(auto,0,0,0);
		height:1px;
		line-height: 100%;
		background-color: $dark-grey;
		//@include transition(transform 2s ease);
		@include transform-origin(center top);
	}
	&:hover{
		&:after{
			@include animation(drawline 0.4s ease );
		}
	}
}
.handle{
	width:120px;
	height:50px;
	@include abs-pos(-50px,auto,auto,50%);
	margin-left:-60px;
	display: block;
	overflow:hidden;
	a{
		@include abs-pos(0,auto,auto,0);
		background-color: white;
		display: block;
		width: 100%;
		height:50px;
		background-image:url('../images/down-arrow.svg');
		background-position: center center;
		background-repeat:no-repeat;
		background-size:24px auto;
		cursor:pointer;
		@include transition(top 0.3s ease);
		@include animation(pulse 0.6s ease infinite);
		@extend %ir;
		&.hide{
			top:50px;
		}
	}
	.section &{
		@include abs-pos(auto,auto,10px,50%);
		z-index: 9999;
	}
	@media only screen  and (max-width : 768px) and (orientation : portrait) {
		display: none;
	}
}
@include keyframes(pulse) {
  0% {
    background-position:center center;
  }
  80% {
    background-position:center 25px;
  }
  100% {
    background-position:center center;
  }
}
