.container{
	@include outer-container;
	position: relative;
}
#wrap{
	position:relative;
	right:0;
	@include box-shadow;
	.csstransitions &{
		@include transition(right 0.5s ease);
	}
	#header,#slider{
		.csstransitions &{
			@include transition(left 0.5s ease);
		}
	}
	.expanded &{
		right:250px;
		#header{
			left:-250px;
		}
		#slider{
			left:-250px;
		}
	}
}
#main{
	margin: 80% 0 0;
	background-color:white;
	display: block;
	position: relative;
	z-index: 2;
	text-align:center;
}
#home{
	width:100%;
	height:100%;
	display:block;
	background-color:#ccc;
}
