.container{
	@include outer-container;
	position: relative;
}
#wrap{
	position:relative;
	right:0;
	.page-template-template-brand &,.page-template-template-product &{
		height:100%;
	}
	@include box-shadow;
	.csstransitions &{
		@include transition(right 0.5s ease);
	}
	#header,#slider{
		.csstransitions &{
			@include transition(left 0.5s ease);
		}
	}
	.expanded &{
		right:250px;
		#header{
			left:-250px;
		}
		#slider{
			left:-250px;
		}
	}
}
#main{
	@extend .clearfix;
	background-color:white;
	padding: 150px 0 0;
	display: block;
	position: relative;
	z-index: 2;
	text-align:center;
	@include opacity(0);
	@include transition(opacity 1s ease);
	.home &{
		margin: 80% 0 0;
		padding:0;
	}
	.page-template-template-contact &{
		padding-top:94px;
	}
	.page-template-template-brand &, .page-template-template-product &{
		height:100%;
		padding:0;
	}
	.page-template-template-about &{
		padding:113px 0 0;
		@media screen and (max-width: $break-small){
			padding:94px 0 0;
		}
	}
	.page-template-template-brand &, .page-template-template-product &{
		@media only screen  and (max-width : $break-medium) {
			padding: 87px 0 0;
		}
	}
}
#home{
	width:100%;
	height:100%;
	display:block;
	background-color:#ccc;
}
