.gform_wrapper{
	margin:0 0 40px;
	#newsletter-signup &{
		margin:0;
	}
	.gform_body{
		@extend %clearfix;
	}
	.gform_footer{
		text-align: center;
		margin:20px 0 0;
	}
	li{
		margin-bottom: 15px;
	}
	.gfield_label{
		display:none;
		.gfield_required{ 
			color: black;  
			padding-left:4px;
		}
	}
	input.medium{
		height:35px;
		line-height: 1;
		width:315px;
		padding: 0 10px;
		@include font-size(16);
		@include transition(background-color 0.3s ease-in-out);
		background-color: darken(white,80);
		@include placeholder {
   			color: white;
   			line-height: 140%;
   			@include opacity(.5);
  		}
  		&:focus{
   		 	border:none;
   		 	background-color: darken(white,70);
   		 	outline:none;
   		 }
   		#newsletter-signup &{
   			width:500px;
   			height:50px;
   			line-height: 50px;
   			background-color: $light-grey;
   			color: $dark-grey;
   			@include font-size(20);
   			line-height:1;
   			@include placeholder{
   				color:$dark-grey;
   				@include opacity(.4);
   			}
   		}
	}
	.button.gform_button{
		@include font-size(19);
		color: black;
		background-color: white;
		letter-spacing: 4px;
		font-family: $brandongrotesque-bold;
		padding:0 20px;
		height:35px;
		line-height: 35px;
		border:none;
		text-transform: uppercase;
		#newsletter-signup &{
			@include font-size(16);
			height:50px;
			line-height: 50px;
			border: 1px solid $dark-grey;
		}
	}
	.validation_error,.validation_message{
		color: red !important;
		font-family: $brandongrotesque-medium;
		@include font-size(16);
		margin-bottom: 10px;
	}
	.validation_message{
		margin: 3px 0 0;
	}
}
.gform_confirmation_message{
		margin-bottom: 40px;
	}