header#header{
	.csstransitions &{
		@include transition(right 0.5s ease);
	}
	position: fixed;
	z-index: 999;
	top:0;
	left:0;
	display: block;
	background-color: white;
	width:100%;
	height:auto;
	overflow:visible;
	@include box-shadow(0px 0px 5px 0px rgba(50, 50, 50, 0.1));
	@extend %zindex-fix;
	@extend .clearfix;
	//@include transition(box-shadow 1s ease);
	@media screen and (max-width: $break-small){
		height:94px;
	}
	#home-link{
		width:250px;
		height:22px;
		display: block;
		margin: 38px auto 38px;
		background-image:url('../images/giselle.svg');
		background-position:left top;
		background-repeat:no-repeat;
		background-size: 100% auto;
		@include transition(height 0.3s ease, width 0.3s ease, margin 0.3s ease);
		@extend %ir;
		.ie8 &{
			background-image:url('../images/giselle.png');
		}
		@media screen and (max-width: $break-xlarge){
			width: 220px;
			height: 20px;
		}
		@media screen and (max-width: $break-small){
			//margin: 38px 0 38px 15px;
			width: 200px;
			height:18px;
		}
		@media screen and (max-width: $break-xsmall){
			width:160px;
			height:15px;
		}
	}
	a#menu-toggle{
		height: 38px;
		display:inline-block;
		@include abs-pos(0,15px,auto,auto); 
		margin: 30px 0;
		float:right;
		padding:0 50px 0 0;
		font-family:$brandongrotesque-bold;
		text-transform: uppercase;
		@include font-size(16);
		line-height: 38px;
		letter-spacing: 4px;
		cursor:pointer;
		@media screen and (max-width: $break-small){
			right:10px;
			margin:28px 0;
		}
		&:after{
			content:"";
			width:38px;
			height:38px;
			@include abs-pos(0,0,auto,auto);
			background-color: black;
			background-image:url('../images/menu.svg');
			background-position: center center;
			background-size: 18px auto;
			background-repeat: no-repeat;
			.ie8 &{
				background-image:url('../images/menu.png');
			}
		}
		span{
			@include transition(opacity 0.2s ease);
			height:38px;
			line-height: 38px;
			display: block;
			@media screen and (max-width: $break-small){
				display: none;
			}
		}
		&.open{
			&:after{
				background-image:url('../images/close.svg');
				background-size:14px auto;
				.ie8 &{
					background-image:url('../images/close.png');
				}
			}
			span{
				@include opacity(0);
			}
		}
	}
}
	