#signposts{
	@extend .clearfix;
	padding:0 7px 80px;
	@media screen and (max-width: $break-small){
		padding-bottom:50px;
	}
	header{
		padding: 45px 0 35px;
		display: block;
		text-align: center;
		h2{
			margin-bottom: 0;
			line-height: 130%;
		}
		@media screen and (max-width: $break-small){
			padding: 25px 10px;
		}
	}
	.posts{
		@extend .clearfix;
	}
	.posts-footer{
		width: 100%;
		display: block;
		padding: 20px 0;
	}
}
.signpost{
	width:25%;
	@media screen and (max-width: $break-large){
		width:33.33%;
	}
	@media screen and (min-width: $break-xsmall+1) and (max-width: $break-medium - 1){
		width:50%;
	}
	@media screen and (max-width: $break-xsmall){
		width:100%;
	}
	@media screen and (max-width: $break-medium - 1){
		&.twitter{
			width: 100%;
			height:auto;
			&:before{
				padding-top:0;
			}
			.content{
				position: relative;
				top:auto;
				right:auto;
				bottom:auto;
				left:auto;
				display:block;
				margin:5px;
			}
		}	
	}
	&.twitter{
		.content{
			&:before{
				content:"";
				height:100%;
				display: inline-block;
				vertical-align: middle;
			}	
		}
	}
	#carousel &{
		width:33.33%;
		&.twitter{
			.content{
				&:before{
					@media screen and (max-width: $break-small){
						padding-top:100%;
					}
				}
			}
		}
	}
	background-color: white;
	display: block;
	overflow:hidden;
	position:relative;
	float:left;
	&:before{
		content: "";
    	display: block;
    	padding-top: 100%;
	}
	.content{
		@include abs-pos(7px,7px,7px,7px);
		@media screen and (max-width: $break-small){
			@include abs-pos(5px,5px,5px,5px);
		}
		background-color: $light-grey;
		@include transition(background-color 0.5s ease); 
		figure{
			@include abs-pos(0,0,0,0);
			overflow:hidden;
			.bg{
				@include abs-pos(-1px,-1px,-1px,-1px);
				@include transition(transform 2s ease);
				z-index: 1;
				@include bg-cover;
				background-color:red;
			}
		}
		&:hover{
			background-color: darken($light-grey,5);
			.bg{
				@include transform(scale(1.05));
			}
		}
		.logo{
			width:100%;
			height:100%;
			position: relative;
			&:before {
            	content: "";
            	display: inline-block;
            	height: 100%;
            	vertical-align: middle;
     		}
     		.img-wrap{
     			width:70%;
     			display: inline-block;
            	vertical-align: middle;
            	text-align: center;
            	img{
            		width:100%;
            		height:auto;
            		margin:0 auto;
            		display: inline-block;
            	}
            	&.portrait{
            		height:40%;
            		img{
            			width:auto;
            			height:100%;
            		}
            	}
  			}
		}
	}
}