#slider{
	width:100%;
	height:100%;
	padding:118px 15px 15px;
	position:fixed;
	left:0;
	top:0;
	display: block;
	background-color:white;
}

.slick-slider{
	width:100%;
	height:100%;
	display:block;
	position:relative;
	/*padding: 118px 15px 15px;
	position: fixed;
	top:0;
	left:0;
	background-color: white;
	*/
	.slick-list,.slick-track{
		width:100%;
		height:100%;
		display: block;
	}
	.slick-list{
		position: relative;
  		overflow: hidden;
  		display: block;
  		padding: 0;
		.slick-track{
			position: relative;
  			left: 0;
  			top: 0;
  			display: block;
  			width:3000px;
			.slick-slide{
				width:100%;
				max-width:1800px;
				float:left;
				height:100%;
				position:relative;
				display: block;
				@include bg-cover;
				background-position:center top;
			}
		}
	}
	.slick-prev,.slick-next{

	}
	.slick-dots-wrap{
		width:auto;
		background-color:transparent;
		position:relative;
		z-index: 9999;
		@include abs-pos(0,0,0,auto);
		display: inline-block;
		height:100%;
		.inner{
			height:100%;
			position:relative;
			&:before{
				content: "";
            	display: inline-block;
            	height: 100%;
            	vertical-align: middle;
			}
			div{
				vertical-align: middle;
				display: inline-block;
				color: white;
			}
		}
	}
	ul.slick-dots{
		background-color:white;
		position: relative;
		background-color:white;
		vertical-align: middle;
		padding:15px 0;
		li{
			padding: 10px 15px;
			display: block;
			button{
				display:block;
				border:none;
				width:10px;
				height:10px;
				padding:0;
				@include border-radius(50%);
				@extend %ir;
			}
			&.slick-active{
				button{
					background-color:black;
				}
			}
		}
	}
}