/*
.box-shadow ($string: 0px 0px 5px 0px rgba(50, 50, 50, 0.75));
*/

@mixin box-shadow ($string: 0px 0px 5px 0px rgba(50, 50, 50, 0.2)) {
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}