@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; //fallback for old browsers
  //font-size: (0.125 * $sizeValue) + rem;
  font-size: (($sizeValue/100)*10) + rem;
}

@mixin font-size-vw($vwSize: 2,$pxSize: 14){
	font-size: $pxSize+px;
	font-size: $vwSize+vw;
}