@mixin vcenter{
     height: 100%;
     //position: absolute;
     //top:0;
     vertical-align: middle;
     &:before{
     	content: "";
     	display: inline-block;
     	vertical-align: middle;
     	height: 100%;
     }
     & > *{
     	display: inline-block;
     	vertical-align: middle;
     }
}


