@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin reset-vertical-align{
	position: relative;
	top: auto;
	-webkit-transform: none;
  	-ms-transform: none;
  	transform: none;
}