#fullpage{
	@media only screen and(max-width: $break-medium){
		height:100%;
	}
}
.section{
	display: block;
	width:100%;
	height:100%;
	position: relative;
	@extend %clearfix;
	&.last{
		height:auto;
	}
	@media only screen  and (max-width : $break-medium) {
		height:50% !important;
		&.last{
			height:auto !important;
		}

	}
	@media only screen  and (max-width : $break-small){
		height:auto !important;
	}
	.single-cpt_collection &{
		@media only screen and(max-width: $break-medium){
			height:auto !important;
		}
	}
	&.non-fullpage{
		height:50%;
	}
}
.section-inner{
	display:block;
	position:relative;
	background-color: white;
	width:100%;
	height:100%;
	padding:98px 7px 14px;
	/*
	@media only screen  and (max-width : $break-medium) and (orientation : portrait) {
		padding:0 7px 14px;
	}
	*/
	@media only screen  and (max-width : $break-medium) {
		padding:0 7px 0;
	}
	.single-cpt_collection &{
	 	@media only screen  and (max-width : $break-medium){
	 		padding:50px 7px 0;
	 	}
	 }
	@extend %clearfix;
	.column{
		width:50%;
		height:100%;
		display: block;
		padding: 0 7px;
		position:relative;
		float:left;
		&.full-width{
			width:100%;
			@media only screen  and (max-width : $break-small){
				&:before{
					content:"";
					padding-top:80%;
					display: inline-block;
				}
			}
		}
		&.half{
			@media only screen  and (max-width : $break-small){
				overflow: hidden;
				width:100%;
				position: relative;
				&:before{
					content:"";
					padding-top:130%;
					display: inline-block;
				}
			}
			&.left{
				.single-cpt_collection &{
					@media only screen and(max-width: $break-medium){
						overflow: hidden;
						width:100%;
						height:auto;
						position: relaive;
						&:before{
							content:"";
							padding-top:100%;
							display: inline-block;
						}
					}
					@media only screen and(max-width: $break-small){
						&:before{
							padding-top:120%;
						}
					}
				}
			}
			&.right{
				.single-cpt_collection &{
					@media only screen and(max-width: $break-medium){
						height:auto;
						width:100%;
						&:before{
							content:"";
							padding-top:60%;
							display: inline-block;
						}
					}
					@media only screen and(max-width: $break-small){
						height:auto;
						width:100%;
						&:before{
							content:"";
							padding-top:100%;
							display: inline-block;
							@media only screen and(max-width: $break-xsmall){
								padding-top:140%;
							}
						}
					}
				}
			}
		}
		.row{
			width:100%;
			display: block;
			height: 100%;
			position: relative;
			background-color:white;
			@media only screen  and (max-width : $break-medium){
				@include abs-pos(7px,7px,7px,7px);
				width:auto;
				height:auto;
			}
			.single-cpt_collection &{
				@media only screen and(max-width: $break-small){
					@include abs-pos(7px,7px,7px,7px);
					width:auto;
					height:auto;
				}
			}
			.content{
				display: block;
				background-color: $light-grey;
				//height:100%;
				@include abs-pos(0,0,0,0);
				//position: relative;
				@include bg-cover;
				.vcenter{
					width:100%;
					display: inline-block;
					height:100%;
					&:before{
						content:"";
						height:100%;
						display: inline-block;
						vertical-align: middle;
					}
					.logo{
						display: inline-block;
						vertical-align: middle;
						background-color: rgba(255,255,255,.7);
						margin:0 auto;
						width:40%;
						max-width: 450px;
						height:auto;
						padding: 40px;
						@media only screen and(max-width: $break-xlarge){
							width:30%;
						}
						@media only screen and(max-width: $break-small){
							width:50%;
							padding: 20px;
						}
						img{
							width:100%;
							height:auto;
						}
						&.portrait{
							width:auto;
							height:30%;
							img{
								width:auto;
								height:100%;
							}
						}
						&.right{
							margin: 0 -40% 0 auto;
							@media only screen and(max-width: $break-small){
								margin: 0 -50% 0 auto;
							}
						}
						&.transparent{
							background-color: none;
						}
					}
				}
				.text{
					height:100%;
					width:100%;
					padding:0 40px;
				//	@media only screen  and (max-width : $break-medium) and (orientation : portrait) {
						@media only screen  and (max-width : $break-medium){
							padding: 0 15%;
						}
						@media only screen and(max-width: $break-medium){
							padding: 0 10px;
						}
					display:block;
					background-color: white;
					&:before{
						content:"";
						display: inline-block;
						height:100%;
						vertical-align: middle;
					}
					div{
						vertical-align: middle;
          				display: inline-block;
          				width: 99%;
					}
					.logo{
						width:60%;
						height:auto;
						text-align: center;
						margin-bottom: 50px;
						@media only screen  and (max-width : $break-medium){
							width:50%;
						}
						img{
							width: 100%;
							height: auto;
							display: inline-block;
							margin:0 auto;
						}
						&.portrait{
							height:170px;
							img{
								width:auto;
								height: 100%;
							}
						}
					}
					h2,h3{
						@media only screen  and (max-width : $break-medium) {
							@include font-size(14);
							margin-bottom: 10px;
						}
					}
					p{
						font-family: $freight-book;
						letter-spacing:0.7px;
						word-spacing: 1px;
						@include font-size(20);
						@media only screen  and (max-width : $break-medium){
							@include font-size(18);
						}
						@media only screen  and (max-width : $break-small){
							@include font-size(16);
						}
						line-height: 140%;
						&:last-child{
							margin:0;
						}
					}
				}
			}
			&.top{
				height:45%;
				padding-bottom:10px;
				@media only screen  and (min-width: $break-small+1) and (max-width : $break-medium){
					height:100%;
					@include abs-pos(0,7px,7px,7px);
				}
				@media only screen  and (max-width : $break-small){
					padding-bottom:0;
					@include abs-pos(0,7px,7px,7px);
					height:50%;
				}
				.content{
					@include abs-pos(0,0,7px,0);
					@media only screen  and (max-width : $break-medium){
						@include abs-pos(0,0,0,0);
					}
				}
			}
			&.bottom{
				height:55%;
				padding-top:10px;
				@media only screen  and (min-width: $break-small+1) and (max-width : $break-medium){
					display: none;
				}
				@media only screen  and (max-width : $break-small){
					@include abs-pos(auto,7px,7px,7px);
					height:50%;
				}
				.content{
					@include abs-pos(7px,0,0,0);
				}
			}
			/*
			&.height-55-pct{
				height: 55%;
				@media only screen  and (max-width : $break-medium){
					height:50%;
				}
			}
			&.height-45-pct{
				height: 45%;
				@media only screen  and (max-width : $break-medium){
					height:50%;
				}
			}
			*/
		}
	}
}
a.close{
	@include abs-pos(120px,15px,auto,auto);
	width:22px;
	height:22px;
	display: block;
	background-image:url('../images/close-black.svg');
	background-position:center center;
	background-repeat:no-repeat;
	background-size:100% auto;
	@extend %ir;
	z-index: 9999;
	cursor: pointer;
	.ie8 &{
		background-image:url('../images/close-black.png');
	}
	.single-cpt_collection &{
	 	@media only screen  and (max-width : $break-medium) {
	 		top: 20px;
	 	}
	 }
}