#location-map{
	width:100%;
	display:block;
	margin-bottom:50px;
	overflow:hidden;
	position:relative;
	background-color:white;
	&:before{
		content:"";
		padding-top:30%;
		display: inline-block;
		@media screen and (max-width: $break-small){
			padding-top: 60%;
		}
		@media screen and (max-width: $break-xsmall){
			padding-top: 80%;
		}
	}
	#map{
		@include abs-pos(0,0,0,0);
		background-color:white;
	}
}
#opening-hours{
	background-color:$light-grey;
	padding:50px 0;
	ul{
		width:410px;
		@media screen and (max-width: $break-small){
			width:80%;
		}
		@media screen and (max-width: $break-small){
			width:90%;
		}
		margin:0 auto;
		border-top: 1px solid $grey;
		li{
			display: block;
			width: 100%;
			@extend %clearfix;
			@include font-size(16);
			@media screen and (max-width: $break-small){
				@include font-size(14);
			}
			text-transform: uppercase;
			height:50px;
			border-bottom: 1px solid $grey;
			span{
				display: inline-block;
				float:left;
				height:50px;
				line-height:50px;
				text-align: left;
				&.days{
					width:60%;
				}
				&.times{
					width:40%;
					text-align: right;
				}
			}
		}
	}

}