#newsletter-signup{
	padding: 86px 0;
	background-color: white;
	@media screen and (max-width: $break-small){
		padding: 86px 20px;
	}
}
#about{
	figure{
		width:332px;
		height:auto;
		margin:0 auto;
		display: inline-block;
		img{
			width:100%;
			height: auto;
		}
		@media screen and (max-width: $break-small){
			width:70%;
			max-width: 250px;
		}
	}
}